<h2>My Page</h2>

  <table>
   <caption>登録情報</caption>
    <tr>
     <th>氏名</th>
     <th></th>
    </tr>
    <tr>
     <th>カナ</th>
     <th></th>
    </tr>
    <tr>
     <th>郵便番号</th>
     <th></th>
    </tr>
    <tr>
     <th>住所</th>
     <th></th>
    </tr>
    <tr>
     <th>電話番号</th>
     <th></th>
    </tr>
    <tr>
     <th>メールアドレス</th>
     <th></th>
    </tr>
  </table>

  <div class="form-group">
      配送先<%= f.submit "Create Book", class:"btn btn-success" %>
  </div> class:"btn btn-success" %>
  </div>
  <div class="form-group">
    <label for="title">注文履歴</label>
      <%= f.submit "一覧を見る", class:"btn btn-success" %>
  </div>iv>