<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <!--ジャンル検索表示-->
      <%# <%= render 'genre/info', genre: @genre %>

    </div>
    <div class='col-md-8 offset-md-1'>
      <!--画像の上に文字表示-->
      <div class="card" style="max-width: 400px;">
  <img class="card-img" src="lake.jpg" alt="">
  <div class="card-img-overlay">
    ようこそ、ながのCAKEへ！
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。</p>
　　　</div>
      <!--新着商品一覧表示-->
<<<<<<< HEAD
<<<<<<< HEAD
      <%= render 'product', products: @products%>
=======
      <%# <%= render 'index', books: @books%>

>>>>>>> origin/develop
=======
      <%= render 'product', products: @products%>
>>>>>>> origin/develop
    </div>
  </div>
</div>
