<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <!--ジャンル検索表示-->
      <%# <%= render 'genre/info', genre: @genre %>

    </div>
    <div class='col-md-8 offset-md-1'>
      <!--画像の上に文字表示-->
      <div class="card" style="max-width: 400px;">
  <img class="card-img" <%= image_tag "lake.jpg", size: "500x300" %> alt="">
  <div class="card-img-overlay">
    <p class="text-black">ようこそ、ながのCAKEへ！</p>
    <p class="text-black">このサイトは、ケーキ販売のECサイトになります。</p>
    <p class="text-black">会員でない方も商品の閲覧はできますが、</p>
    <p class="text-black">購入には会員登録が必要になります。</p>

      <!--新着商品一覧表示-->
      <%# <%= render 'index', books: @books%>

    </div>
  </div>
</div>
